<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trivia Crack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="../../css/normalize.css">
      <link rel="stylesheet" href="../../css/library.css">
      <link rel="stylesheet" href="../../css/grid.css">
      <link rel="stylesheet" href="../../css/main.css">
      <link rel="stylesheet" href="../../css/admin.css">
      <link rel="stylesheet" href="../../css/profile.css">
      <link rel="stylesheet" href="../../css/modal.css">
      <link rel="shortcut icon" href="../../favicon.ico">
    <!-- endbuild -->
    <!-- build:js -->
      <script src="../../js/menu-admin.js"></script>
      <script src="../../js/principal"></script>
    <!-- endbuild -->
</head>

<body>
    {{>menu}}
    <main>
      <div class="container container-menu">
        {{>menu_admin}}
      </div>
      {{#data}}
      <section class="base-container">
          <div class="multiple-container">
              <form action="" class="col-12">
                  <div class="multiple-container quest">
                      <label class="col-1">Category</label>
                      <select name="" id="" class="col-12">
                          <option value="">Select a category</option>
                          {{#categories}}
                          <option value="{{{category}}}">{{category}}</option>
                          {{/categories}}
                      </select>
                  </div>
                  <div class="multiple-container quest">
                      <label class="col-12">Question</label>
                      <textarea name="" id="" cols="30" rows="5" class="col-12 txt-input"
                      placeholder="Write your question.">{{question}}</textarea>
                  </div>
                  <div class="multiple-container quest">
                      <label class="col-1">Option 1</label>
                      <input type="text" name="" id="" placeholder="Write the first option"
                      class="col-11 txt-input" value="{{option1}}">
                  </div>
                  <div class="multiple-container quest">
                      <label class="col-1">Option 2</label>
                      <input type="text" name="" id="" placeholder="Write the second option"
                      class="col-11 txt-input" value="{{option2}}">
                  </div>
                  <div class="multiple-container quest">
                      <label class="col-2">Option correct</label>
                      <input type="text" name="" id="" placeholder="Write the correct option"
                      class="col-10 txt-input" value="{{optioncorrect}}">
                  </div>
                  <div class="multiple-container">
                      <button type="submit" class="btn-submit">Create</button>
                  </div>
              </form>
          </div>
      </section>
      {{/data}}
    </main>
    <footer>
        <nav>
            <ul class="nav-sub-menu">
                <li><a href="" class="menu-item">Contact us</a></li>
                <li><a href="" class="menu-item">Github</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>
