<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trivia Crack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css -->
      <link rel="stylesheet" href="../../css/normalize.css">
      <link rel="stylesheet" href="../../css/library.css">
      <link rel="stylesheet" href="../../css/grid.css">
      <link rel="stylesheet" href="../../css/main.css">
      <link rel="stylesheet" href="../../css/admin.css">
      <link rel="stylesheet" href="../../css/profile.css">
      <link rel="stylesheet" href="../../css/modal.css">
      <link rel="shortcut icon" href="../../favicon.ico">
    <!-- endbuild -->
    <!-- build:js -->
      <script src="../../js/menu-admin.js"></script>
      <script src="../../js/principal"></script>
    <!-- endbuild -->
</head>

<body>
  {{>menu}}
  <main>
            <section class="multiple-container container-admin col-11">
              {{#data}}
                      <div class="box col-9 cont-info">
                          <h4 class="txt-nickname">{{question}}</h4>
                          <h1 id="id-approved" class="hide-item">{{id}}</h1>
                          <p class="txt-email">Option correct: {{optioncorrect}}</p>
                          <p class="txt-email">Option 1: {{option1}}</p>
                          <p class="txt-email">Option 2: {{option2}}</p>
                          <p class="txt-email">Category: {{category}}</p>
                          <p class="txt-email">User created: {{user}}</p>
                          <p class="txt-email">Created date: {{createdate}}</p>
                          <p class="txt-email">Approved date: {{approveddate}}</p>
                      </div>
                      <div class="box col-3">
                          <a href="#delete" class="btn-a">
                              <i class="material-icons">delete</i>
                          </a>
                          <a href="/questions/edit/{{id}}" class="btn-a">
                              <i class="material-icons">create</i>
                          </a>
                          {{^approved}}
                          <a id="approved-question" class="btn-a">
                              <i class="material-icons">done</i>
                          </a>
                          {{/approved}}
                      </div>
              {{/data}}
            </section>
        </div>
        {{>delete_modal}}
    </main>
    {{>footer}}
</body>

</html>
