:root {
    --slidebox-color: #444;
    --owl-controls-color: #000000;
    --owl-page-color: #101318;
    --owl-page-active-color: #1fbba6;
}

* {
    box-sizing:border-box;
}

.slideshow-container {
    max-width: 100%;
    margin:auto;
    background-color: var(--slidebox-color);
    padding-bottom: 15px;
}

.slides {
    display: none;
}

.visible {
    display: block;
}

.owl-controls .owl-page {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    background-color: var(--owl-page-color);
    cursor: pointer;
}

.owl-controls .owl-page.active {
    background: var(--owl-page-active-color);
}

.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity:.4
    }
    to {
        opacity:1
    }
}

@keyframes fade{
    from {
        opacity:.4
    }
    to {
        opacity:1
    }
}
