textarea {
  margin: 5px 0;
  border-radius: 5px;
  resize: none;
}

.txt-input {
  padding: 10px 6px;
  border: 1px solid var(--complementary-color);
  border-radius: 3px;
  font-size: 14px;
  background-color: #ffffff;
  color: var(--txt-color);
  box-shadow: 1px 1px 2px 0px var(--highlight-color);
  width: 100%;
}

.select-input {
  padding: 8px 6px;
  border: 1px solid var(--complementary-color);
  font-size: 14px;
  background-color: #ffffff;
  color: var(--txt-color);
  box-shadow: 1px 1px 2px 0px var(--highlight-color);
  width: 100%;
}

.input-container .err-msg{
  display: block;
}

.alert {
  border: 1px solid red;
  background: rgba(241, 0, 0, 0.4);
  display: none;
  padding: 8px 10px;
}

.alert-show{
  display: block;
}

.incorrect {
  border: 3px solid red;
  border-radius: 0px;
  background: rgba(241, 0, 0, 0.1);
}