.tlt-cat{
    background: var(--highlight-color);
    color: var(--txt-m-color);
    text-align: center;
    padding: 10px 5px;
}

.img-cat {
    background: var(--complementary-color);
    max-width: 45px;
    max-height: 45px;
    margin: auto 10px;
    padding: 3px;
}

.quest {
    margin: 4px 0;
}

.question {
    padding: 20px 15px 5px;
    font-size: 18px;
    text-align: justify;
}

.question p {
    margin: 10px;
}

.answer-res {
    margin: 10px auto;
    padding: 15px;
    width: 90%;
    display: none;
}

.answer-cor {
    display: block;
    background: rgba(0, 199, 33, 0.5);
    border: 3px solid #00a043;
}

.answer-err {
    display: block;
    background: rgba(199, 0, 0, 0.5);
    border: 3px solid #a00000;
}

.ans-flow{
    display: none;
    max-width: 250px;
    margin: 10px auto;
}

.ans-flow-show {
    display: block;
}

.games-modes{
    display: inline-block;
    margin: 30px auto;
}

.games-modes a{
    margin: 0px 5px;
}
