<li class="col-12">
    <div class="multiple-container friend">
        <div class="col-1">
            <img src="{{{avatar}}}" class="img-frnd" alt="Friend image" />
        </div>
        <div class="col-8">
            <p class="frd-nickname">{{user2}}</p>
        </div>
        <div class="col-3 btn-actions">
            <button type="submit" value="{{user2}}" class="btn-icon frd-actions"><i class="fa fa-play"></i></button>
            <button type="submit" value="{{user2}}" class="btn-icon frd-actions"><i class="fa fa-times"></i></button>
        </div>
    </div>
</li>