<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trivia Crack</title>

    <!-- build:css -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="../../css/normalize.css">
      <link rel="stylesheet" href="../../css/library.css">
      <link rel="stylesheet" href="../../css/grid.css">
      <link rel="stylesheet" href="../../css/profile.css">
      <link rel="stylesheet" href="../../css/main.css">
      <link rel="stylesheet" href="../../css/admin.css">
      <link rel="shortcut icon" href="../../favicon.ico">
    <!-- endbuild -->
    <!-- build:js -->
      <script src="../../js/validations/users_edit.js"></script>
      <scritp src="../../js/principal.js"></script>
    <!-- endbuild -->
</head>

<body>
    {{>menu}}
    <main>
      <section class="base-container col-12">
          <div class="multiple-container">
              <div class="col-2 div-img">
                  <img src="{{{avatar}}}" alt="Profile image" class="user-img">
              </div>
              <div class="col-10">
                  <h1>{{nickname_user}}</h1>
                  <form action="" class="col-12">
                      <div id="msg-alert-edit-user" class="alert"></div>
                      <div class="div-field">
                          <label for="" class="col-1">Email</label>
                          <input id="inp-new-email" type="email" class="col-12 txt-input" placeholder="Write a new email"
                              value="{{{email}}}" data-origin-val="{{{email}}}">
                      </div>
                      <div class="div-field">
                          <a href="/profile/add_emails" class="col-1 btn-a">Add email</a>
                      </div>
                      <div class="div-field">
                          <label for="" class="col-1">Password</label>
                          <input id="inp-new-pass" type="password" class="col-12 txt-input" placeholder="Write a new Password"
                              value="{{{password}}}" data-origin-val="{{{password}}}">
                      </div>
                      <div class="div-field">
                          <label for="" class="col-1">Avatar</label>
                          <input id="inp-file-avatar" type="file" name="file" class="col-12 btn-file" accept=".png, .jpg, .jpeg">
                      </div>
                      <div class="div-field">
                          <button id="btn-edit-user" type="button" class="btn-submit">Update</button>
                      </div>
                  </form>
              </div>
          </div>
      </section>
    </main>
    {{>footer}}
</body>

</html>
