<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trivia Crack</title>
    <!-- build:css -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="../../css/normalize.css">
      <link rel="stylesheet" href="../../css/library.css">
      <link rel="stylesheet" href="../../css/grid.css">
      <link rel="stylesheet" href="../../css/main.css">
      <link rel="stylesheet" href="../../css/admin.css">
      <link rel="stylesheet" href="../../css/profile.css">
      <link rel="stylesheet" href="../../css/modal.css">
      <link rel="shortcut icon" href="../../favicon.ico">
    <!-- endbuild -->
    <!-- build:js -->
      <script src="../../js/menu-admin.js"></script>
      <script src="../../js/principal"></script>
    <!-- endbuild -->
</head>

<body>
    {{>menu}}
    <main>
            <div class="container container-menu">
              {{>menu_admin}}
            </div>
            <div class="multiple-container container-admin col-11">
              <div class="col-2 div-img">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                      class="user-img">
              </div>
              <div class="col-7 cont-info">
                  <h1>{{nickname}}</h1>
                  <h2>{{email}}</h2>
                  <p class="score">{{score}}</p>
              </div>
              <div class="box col-2">
                <a href="#delete" class="btn-a">
                  <i class="material-icons">delete</i>
                </a>
                <a href="/users/edit/{{nickname}}" class="btn-a">
                  <i class="material-icons">edit</i>
                </a>
              </div>
              <div class="multiple-container list-friends col-12">
                <div class="col-9">
                    <h3>Emails</h3>
                </div>
                <ul class="multiple-container col-12 friends">
                    {{#emails}}
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-8">
                                <p class="frd-nickname">{{email}}</p>
                            </div>
                        </div>
                    </li>
                    {{/emails}}
                </ul>
              </div>
            </div>
            {{>delete_modal}}
    </main>
    {{>footer}}
</body>

</html>
