<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trivia Crack</title>
    <!-- build:css -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="../../css/normalize.css">
      <link rel="stylesheet" href="../../css/library.css">
      <link rel="stylesheet" href="../../css/grid.css">
      <link rel="stylesheet" href="../../css/main.css">
      <link rel="stylesheet" href="../../css/admin.css">
      <link rel="stylesheet" href="../../css/profile.css">
      <link rel="stylesheet" href="../../css/modal.css">
      <link rel="shortcut icon" href="../../favicon.ico">
    <!-- endbuild -->
    <!-- build:js -->
      <script src="../../js/principal"></script>
    <!-- endbuild -->
</head>

<body>
    {{>menu}}
    <main>
      {{#data}}
      <section class="base-container col-12">
          <div class="multiple-container">
              <div class="col-12">
                  <h1>Edit Question</h1>
                  <h1 id='id-item-game' class="hide-item">{{id}}</h1>
              </div>
              <form id="form-edit-question" action="" class="col-12">
                  <div id="msg-alert-game-edit" class="alert"></div>
                  <div class="multiple-container quest">
                      <h4>{{player1}}</h4>
                  </div>
                  <div class="multiple-container quest">
                      <label class="col-1">Score</label>
                      <input type="text" name="" id="score1-edit" placeholder="Write the score" class="col-11 txt-input" value="{{scoreplayer1}}">
                  </div>
                  <div class="multiple-container quest">
                      <h4>{{player2}}</h4>
                  </div>
                  <div class="multiple-container quest">
                      <label class="col-1">Score</label>
                      <input type="text" name="" id="score2-edit" placeholder="Write the score" class="col-11 txt-input" value="{{scoreplayer2}}">
                  </div>
                  <div class="multiple-container">
                      <button id="btn-game-edit" type="button" class="btn-submit">Update</button>
                  </div>
              </form>
          </div>
      </section>
      {{/data}}
    </main>
  {{>footer}}
</body>

</html>
